body {

  background: rgb(0,191,255);
}
.fable1{
  margin-left: 10em;
  margin-right: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  background: url('image/bg_image01.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;

}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300;400&display=swap');


h1{
  font-size: 4em;
  margin-bottom: 1em;
  font-family: 'Alfa Slab One', cursive;
}

h2{
  font-size: 2.75em;
  margin-bottom: 0.75em;
  font-family: 'Open Sans', sans-serif;
  margin-right: 5em;
}

p{
  margin-bottom: 0.5em;
  font-family: 'Open Sans Condensed', sans-serif;
}
